<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script defer src="{{asset "assets/js/prism.js"}}"></script>
<footer class="footer">
    <div class="footer-content">
        <p class="footer-info">
            <span>{{t "Diaspora"}} &copy; {{date format="YYYY"}}</span>
            <span class="bull">&nbsp; &bull; &nbsp;</span>
            <span>{{t "Diaspora themed created by"}} <a class="link-names" href="https://TechwithDut.com" target="_blank" rel="noopener">TechwithDut</a></span>
            <span class="bull">&nbsp; &bull; &nbsp;</span>
            <span>{{t "Published with"}} <a class="link-names" href="https://Ghost.org" target="_blank" rel="noopener">Ghost</a></span>
            <span class="bull">&nbsp; &bull; &nbsp;</span>
            <span>{{t "Github"}} <a class="link-names" href="https://github.com/thejokester1/" target="_blank" rel="noopener">Thejokester1</a></span>
        </p>
    </div>
</footer>